.contact_container {
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #F08080;
    margin: 150px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
}
.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
}
.email {
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
}